body{
  font-family: "Monsterrat";
}
#title{
  background-color: #E0144C;
  color: #fff; /* text color */
}
h1{
  font-family: "Monsterrat-Black" ;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}
h3{
  font-family: "Monsterrat-Black";
  font-weight: 900;
}

.container-fluid{
  padding: 3% 15%;
}

.navbar{   /*to allign tindog with " meet new and interesting dogs nearby"*/
    padding: 0 0 4.5rem;
}

/*Navigation bar*/
.navbar-brand{
 font-family: "Ubuntu" ;
  font-size : 2rem;
  font-weight: 800;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: " Monsterrat-Light";
}
/*download buttons*/
.download{
  margin: 5% 3% 5% 0;
}

/*image*/
.image{
  width: 60%;
  margin-left: 100px;
  transform: rotate(15deg);
}
.feattitle{
  text-align: center;
  padding: 5%;
}
p{
  color: #8f8f8f;
}
.symbol {
  color:#ef8172 ;
  margin: 10px;
}
.symbol:hover{
color: #ff4c68;
}
