
body{
  font-family: "Monsterrat";
}
#title{
  background-color: #E0144C;
  color: #fff; /* text color */
}
h1{
  font-family: "Monsterrat-Black" ;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}
h2{
  font-family: "Monsterrat-Bold" ;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.5;
}
h3{
  font-family: "Monsterrat-Black";
  font-weight: 900;
}

.container-fluid{
  padding: 3% 15%;
}

.navbar{   /*to allign tindog with " meet new and interesting dogs nearby"*/
    padding: 0 0 4.5rem;
}

/*Navigation bar*/
.navbar-brand{
 font-family: "Ubuntu" ;
  font-size : 2rem;
  font-weight: 800;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: " Monsterrat-Light";
}
/*download buttons*/
.download{
  margin: 5% 3% 5% 0;
}

/*image*/
.image{
  width: 60%;
  margin-left: 100px;
  transform: rotate(15deg);

}
#features{
  margin: 5% 15%;
}

.feattitle{
  text-align: center;
  padding: 5%;
}
p{
  color: #8f8f8f;
}
.symbol {
  color:#ef8172 ;
  margin: 10px;
}
.symbol:hover{
color: #ff4c68;
}

#testimonials {
/*this would apply for the entire testimonial section*/
text-align: center;
background-color: #ef8172; 
color: #fff;
}

.carousel-item{
  /*this would apply for the items in thee carousel except for the previous and ndext slide buttons*/
  padding: 7% 15%;

}

.testimonial-image{
  width: 15%;
  border-radius: 20%;
  margin: 30px;;
}
#press{
  background-color:#ef8172 ;
  text-align: center;
  padding-bottom: 5%;
}

.promotion{
  width : 12%;
  margin: 20px;
  
}

/*the bootstrap 5 doc gave an extra box around the previous and next buttons, in order to remove it , the following code has been added */
.slidebutton{  
  background-color: #ef8172;
  border:0;
}
#pricing{
  padding: 100px; 
  text-align: center;
}
@media (max-width: 1028px){ /*media queries is used for responsive wep page styling based on different devices*/
  .image{
    position: static;
    transform: rotate(0); 
  }
 #title{
  text-align: center;
 }

}
